body {
    background-color: #3d3d5c;

}

h1 {
    color: navy;
    margin-left: 20px;
    padding: 50px, 50px, 50px, 50px;
}
p{
    font-family: sans-serif;
    color: white;
}

img{
  height: 200px;
  width: 200px;
}

nav{
  height: 40px;
  width: 100%;
  background: #455868;
  font-size: 11pt;
  font-weight: bold;
  font-family: 'PT Sans', Arial, sans-serif;
  position: relative;
  border-bottom: 2px solid #283744
}

nav ul{
  padding: 0;
  margin: 0 auto;
  width: 500px;
  height: 40px;
}

nav li{
  display: inline;
  float: left;
}

.clearfix:before,
.clearfix:after{
 content: "";
 display: table;
}

.clearfix:after{
  clear:both;
}

.clearfix{
  *zoom: 1;
}

nav a{
  color: #fff;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  text-shadow: 1px 1px 0px #283744;
}
