body {
    background-color: #3d3d5c;
    
}

h1 {
    color: navy;
    margin-left: 20px;
}
p{
    font-family: sans-serif;
}

img{
  height: 100px;
  width: 100px;
}

ul .navbar{
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em;
}