body {
    background-color: #5c5c8a;
    
}

h1 {
    color: navy;
    margin-left: 20px;
}
p{
    font-family: sans-serif;
}

img{
  style="width:200px;height:200px;"
}

ul .navbar{
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em;
}